.loginPage {
    background: url("Images/simba_lodge1.jpeg");
    background: linear-gradient(rgba(11,11, 11, 0.5), rgba(10, 10, 10, 0.5), url("Images/simba_lodge1.jpeg"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    border-radius: 5%;
    height: 300px;
    width: 200px;

    
  }
.payslipsTable{
    flex-direction: column-reverse;
    background-color:pink;
    color: blue;
    
    font-size: x-small;
    
    border: solid;
    width: 600px;
}
  

th{
    border: solid;
    margin-left: 7px;
    
    
}

.flex {
    display: flex;
    flex-direction: row; /* Ensure items appear from left to right */
  }
  
  /* Add any additional styling as needed */
  .btn {
    margin-right: 10px; /* Add spacing between buttons */
  }

  .welcome {
    color: gray;
    

  }
  .image{
    border-radius: 50%;
    background-color: yellow;
  }

  .home{
    width: 50%;
    
    
  }
  .homed{
    background-color: rgb(248, 239, 239);
    
  }
  .admin{
    width: 25%;
  }
  .jul{
  
    border-radius: 5px;
  }
  /* styles.css */
.home, .admin {
  background-color: yellow; /* initial background color */
  transition: background-color 0.3s ease; /* smooth transition effect */
}

.home:hover, .admin:hover {
  background-color: blue; /* background color on hover */
  color: white; /* adjust text color for better readability */
}
